body {
	margin: 0px;
	background-repeat: repeat-x;
}

#obal {
	max-width: 800px;
	width: 100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#hlavicka {
	width: 100%;
	height: 90px;
	padding-top: 30px;
	margin: 0px;
}


#hlavicka img {
	max-width: 100%;
	height: auto;
}
#levo1{
	display: inline;
	float: left;
	width: 520px;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 140px;
}
#levo2{
	display: inline;
	float: left;
	width: 260px;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 140px;
}
#levo3 {
	display: inline;
	float: left;
	width: 260px;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
}
#pravo1, #pravo2 {
	display: inline;
	float: right;
	width: 430px;
	margin: 0px;
	padding: 0px;
}
#blok1, #blok2, #blok3, #blok4, #blok5{
	display: inline;
	float: left;
	width: 160px;
	margin: 0px;
	padding: 0px;
	height: 200px;
}
#blok{
	display: inline;
	float: left;
	width: 160px;
	margin: 0px;
	padding: 0px;
	height: 200px;
	background-image: url(_img/blok_bgr.png);
}
#obsah {
	width: 100%;
	min-height: 350px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	background-color: #E1E1E1;
	padding-top: 25px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#obsah_top {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 0px;
	height: 200px;
	background-image: url(_img/obsah_top_bgr.jpg);
	background-repeat: no-repeat;
}
#obsah_top2 {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 0px;
	height: 200px;
	background-repeat: no-repeat;
	background-image: url(_img/obsah_top_bgr2.jpg);
}
#obsah_top3 {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 0px;
	height: 200px;
	background-repeat: no-repeat;
	background-image: url(_img/obsah_top_bgr3.jpg);
}
#obsah_top4 {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 0px;
	height: 200px;
	background-repeat: no-repeat;
	background-image: url(_img/obsah_top_bgr4.jpg);
}
#obsah_top5 {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 0px;
	height: 200px;
	background-repeat: no-repeat;
	background-image: url(_img/obsah_top_bgr5.jpg);
}
#obsah_top6 {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 0px;
	height: 200px;
	background-repeat: no-repeat;
	background-image: url(_img/obsah_top_bgr6.jpg);
}
#obsah_top p, #obsah_top2 p, #obsah_top3 p, #obsah_top4 p, #obsah_top5 p, #obsah_top6 p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	
}
#obsah_top a, #obsah_top2 a , #obsah_top3 a, #obsah_top4 a, #obsah_top5 a, #obsah_top6 a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	margin: 0px;
	text-decoration: none;
	
}
#obsah_top a:hover, #obsah_top2 a:hover, #obsah_top3 a:hover, #obsah_top4 a:hover, #obsah_top5 a:hover, #obsah_top6 a:hover{
	text-decoration: underline;
	
	
}
h3 {
	font-size: 6px;
	margin: 0px;
	padding: 0px;
}

#obsah_navigace {
	width: 100%;
	padding: 0px;
	background-color: #5D8EC0;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	height: 20px;
}
#obsah p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 13px;
	padding-left: 0px;
	
}
#obsah a{
	color: #005A9C;
	text-decoration: underline;
	
	
}
#obsah a:visited{
	color: #4B2E83;
}
#obsah a:hover{
	color: #003366;
	text-decoration: none;
	
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #1A1A1A;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	font-weight: bold;
	padding: 0px;
}

#clear {
	clear: both;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#navigace{
	width: 800px;
	display: inline;
	float: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#navigace a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	text-decoration: none;
	text-align: left;
	display: block;
	width: 155px;
	font-weight: normal;
	float: left;
	margin: 0px;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 5px;
	background-color: #000000;
}
#navigace p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #5D8EC0;
	text-decoration: none;
	text-align: left;
	display: block;
	width: 155px;
	font-weight: normal;
	float: left;
	margin: 0px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 5px;
	background-color: #000000;
}
#navigace a:hover{
	color: #5D8EC0;
	background-color: #000000;
	
}

#paticka {
	margin-top: 15px;
	margin-bottom: 10px;
	width: 100%;
	margin-right: 0px;
	margin-left: 0px;
}
#paticka p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	text-decoration: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 15px;
	
}


/* Keyboard focus visibility */
a:focus,
a:focus-visible {
	outline: 3px solid #000000;
	outline-offset: 2px;
}
#navigace a:focus,
#navigace a:focus-visible {
	outline: 3px solid #FFFFFF;
	outline-offset: -3px;
}


/* Skip link */
.skip-link {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(-200%);
	padding: 0.75rem 1rem;
	background: #FFFFFF;
	color: #000000;
	z-index: 9999;
}
.skip-link:focus,
.skip-link:focus-visible {
	transform: translateY(0);
}


@media (max-width: 820px) {
	/* Make layout reflow on narrow screens */
	#obal {
		width: 100%;
	}
	#navigace {
		width: 100%;
	}
	#navigace a{
		float: none;
		width: auto;
	}
	#levo1, #levo2, #levo3, #pravo1, #pravo2 {
		float: none;
		width: auto;
		display: block;
		margin-left: 1rem;
		margin-right: 1rem;
	}
	#blok, #blok1, #blok2, #blok3, #blok4, #blok5 {
		display: none;
	}
}
